*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background: #312f2f;
    font-family: Arial, Helvetica, sans-serif;
}

.Cabecera{
    max-width: 1000px;
    margin: auto;
    padding: 2em;
    margin-top: 1em;
    
    background:rgb(6, 106, 163);
    color: white;
    border: 1px solid #333;
    text-align: left;
    box-shadow: 0 1em 3em 0 black;
}

.Cabecera .logo{
    display: inline-block;
    position: relative;
}

.Cabecera h1{
    display: inline-block;
}

.Cabecera h1 b{
    color: rgb(255, 128, 37);
    font-size: 1.3em;
}

.Cuerpo{
    max-width: 1000px;
    margin: auto;
    padding: 2em;
    margin-top: 1em;
    
    background-color:cornsilk;
    border: 1px solid #333;
    text-align: left;
}

.seccion_1{
    margin:auto;
    padding:1em;
    color: teal;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    border-bottom: 1px solid darkgreen;
}

.seccion_2{
    margin:auto;
    padding:1em;
    color: rgb(5, 102, 9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 1px solid darkgreen;
}

.seccion_2 p{
    margin:.5em;
}

.footer{
    background: rgb(15, 60, 82);
    color: rgb(255, 255, 255);
    text-shadow: 1 0 1 0;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 1em;
    font-size: 1.2em;
    font-family: sans-serif;
    border: 1px solid rgb(22, 22, 22)  ;
    border-top: none;
}